/* text */
h2 {
    font-size: 96px;
    font-weight: bold;
    /* background: var(--clr-gradient);
    -webkit-background-clip: text;
    color: transparent; */

    color: var(--clr-white);
}

/* layout */
.cv-section {
    background-color: var(--clr-black);
    width: 1024px;
    height: calc(1024px*1.41);

    padding: 8rem;
    display: grid;
    gap: 8rem;
}

.cv-top,
.cv-bottom,
.form-group {
    display: flex;
}

.cv-top {
    justify-content: space-between;
    align-items: center;
}

.cv-bottom,
.cv-bottom .form-group {
    gap: 3rem;
}

.cv-bottom {
    flex-direction: column;
}

.form-group>* {
    flex: 1;
}

.export-btn {
    background-color: var(--clr-black);
    color: var(--clr-white);
    font-size: 26px;
    padding: 1rem 12px 1rem 20px;
    border-radius: 50%;

    position: fixed;
    bottom: 2rem;
    right: 2rem;
}