@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
    --clr-black: #212121;
    --clr-white: #f8f8f8;
    --clr-pink: #E282D9;
    --clr-purple: #6D5EC9;

    --clr-gradient: linear-gradient(to bottom, #E282D9, #6D5EC9);

    --border-radius: 3px;

    --padding-b: 4rem;
    --padding-m: 3rem;
    --padding-s: 2rem;

}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    font-family: "Roboto", system-ui;
    background: var(--clr-gradient);
    display: grid;
    flex-direction: column;
    justify-content: center;

    padding-bottom: 4rem;

}

img {
    max-width: 100%;
}